body {
    background-color: #121212;
    color: #FFFFFF;
}

.section {
    background-color: #202020;
    color: #FFFFFF;
    border: 0.5px solid;
    border-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 2px 5px #FFFFFF;
    /* Shadow effect */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Smooth transition for hover effect */
}

.name {
    font-size: 20pt;
}

.badge-role {
    border: 0.2mm solid;
    border-color: #FFAA1D;

}

.arraw {
    font-size: large;
    font-weight: 200;
    color: #FFFFFF;
}

.badge-icons {
    border: 0.2mm solid #FFAA1D;
    /* Border color */
    font-size: medium;
    /* Font size */
    color: #FFAA1D;
    /* Text color */
    background-color: rgba(255, 170, 29, 0.1);
    /* Light background for contrast */
    padding: 5px 10px;
    /* Padding for spacing */
    border-radius: 8px;
    /* Rounded corners */
    display: inline-flex;
    /* Align items in a row */
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
    box-shadow: 0 2px 5px #FFFFFF(0, 0, 0, 0.2);
    /* Subtle shadow for depth */
    transition: background-color 0.3s, transform 0.3s;
    /* Smooth transition for hover effects */
}

.badge-icons:hover {
    background-color: rgba(255, 170, 29, 0.2);
    /* Darker background on hover */
    transform: scale(1.05);
    /* Slightly enlarge on hover */
}

.badge-details {
    border: 0.2mm solid;
    border-color: #FFAA1D;
    min-width: 3.2in;
}

a {
    font-size: 15px;
}

/* Navbar styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    /* Semi-transparent background */
    border-radius: 8px;
}

.navbar-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    /* Default link color */
    text-decoration: none;
    position: relative;
    /* For hover effect */
    transition: color 0.3s ease, transform 0.3s ease;
    /* Smooth hover transition */
}

.navbar-link:hover {
    color: #FFAA1D;
    /* Hover color */
    transform: scale(1.1);
    /* Slight scaling effect */
}

/* Hover underline animation */
.navbar-link::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFAA1D;
    /* Underline color */
    transition: width 0.3s ease;
    /* Smooth animation */
}

.navbar-link:hover::after {
    width: 100%;
    /* Full underline on hover */
}

.information {
    color: #FFFFFF;
    background-color: #202020;
    border: 0.2mm solid;
    border-color: #FFAA1D;
    max-width: 5in;
}